<h4>Ahoy <%= @sign_up_name %>!</h4>

<p>Enjoy your print and play ☠️</p>

<p><a href="https://uploads-ssl.webflow.com/5d79944c26acc6f0a7e96822/5eeeec75299cb9d2e2e7945c_StolenTreasure-Print-n-Play-and-rules.pdf">Download Print-n-play PDF</a></p>


