<div class="row download-container mt-4">
    <div class="download-left-col col-12 col-md-7 d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "logo.svg", alt: "alttext", width: "200" %>
        <h3 class="text-white text-center">You can play it right now!</h3>

        <div class="download-underline-container d-flex flex-column align-items-center">
            <h3 class="text-white text-center">Get it today!</h3>
            <div class="download-title-underline"></div>
        </div>

    </div>
    <div class="col-12 col-md-5 d-flex flex-column align-items-center align-items-lg-start justify-content-center">
        <a target="_blank" href="https://uploads-ssl.webflow.com/5d79944c26acc6f0a7e96822/5d80e2f2dd362e6db37fcc53_Yo-ho-ho-rulebook.pdf" class="btn download-button m-3">
            <div class="download-btn-content d-flex align-items-center">
                <div class="button-icon">
                    <i class="fas fa-print"></i>
                </div>
                Download the YoHoHo Print 'n play PDF
            </div>
        </a>
        <a target="_blank" href="https://uploads-ssl.webflow.com/5d79944c26acc6f0a7e96822/5d80e2f2dd362e6db37fcc53_Yo-ho-ho-rulebook.pdf" class="btn download-button m-3">
            <div class="download-btn-content d-flex align-items-center">
                <div class="button-icon">
                    <i class="far fa-copy"></i>
                </div>
                Download the YoHoHo Rulebook PDF
            </div>
        </a>
    </div>
    <div class="download-background">
        <%= image_tag "dark-map.svg", alt: "alttext", width: "1100" %>
    </div>
</div>