<div class="footer d-flex justify-content-center">
  <div class="footer-content flex-fill">
    <!-- Footer Row -->
    <div class="row">
      <!-- Logo Column -->
      <div class="col-12 text-center col-md-3 mt-3">
        <%= image_tag "logo.svg", alt: "alttext", width: "150" %>
      </div>
      <!-- Links Column -->
      <div class="col-12 col-md-9 mt-3">
        <div class="row text-right footer-links">
          <div class="col-12 col-md-8">
            <div class="row text-center">
              <div class="col-4 mt-3">
                <h4><a href="#download-section">Game</a></h4>
              </div>
              <div class="col-4 mt-3">
                <h4><a href="#download-section">Rules</a></h4>
              </div>
              <div class="col-4 mt-3">
                <h4><a href="">Contact</a></h4>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-md-4 d-flex flex-row justify-content-start justify-content-md-end mt-3">
            <div class="sm-icon-placeholder m-0"></div>
            <div class="sm-icon-placeholder"></div>
            <div class="sm-icon-placeholder"></div>
            <div class="sm-icon-placeholder"></div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Auxiliary Links Row -->
    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <p>Casual Friendly Games © 2020</p>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-end">
        <p>Privacy Policy</p>
        <p class="pl-0 pl-md-4">Terms and Conditions</p>
      </div>
    </div>
  </div>
</div>
