<div class="footer d-flex justify-content-center">
  <div class="footer-content flex-fill">
    <div class="row">
      <div class="col-3">
        <%= image_tag "logo.svg", alt: "alttext", width: "150" %>
      </div>
      <div class="col-9">
        <div class="row text-right footer-links">
          <div class="col-8">
            <div class="row text-center">
              <div class="col-4">
                <h4><a href="">Game</a></h4>
              </div>
              <div class="col-4">
                <h4><a href="">Rules</a></h4>
              </div>
              <div class="col-4">
                <h4><a href="">Contact</a></h4>
              </div>
            </div>
          </div>
          <div class="col-4 d-flex flex-row justify-content-end">
            <div class="sm-icon-placeholder"></div>
            <div class="sm-icon-placeholder"></div>
            <div class="sm-icon-placeholder"></div>
            <div class="sm-icon-placeholder"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <p>Casual Friendly Games © 2020</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <p>Privacy Policy</p>
        <p class="pl-4">Terms and Conditions</p>
      </div>
    </div>
  </div>
</div>
