<div class="hero-section-background p-3">
  <%= image_tag "hero-map.svg", alt: "alttext", width: "740" %>
</div>

<div class="hero-section">
  <div class="row text-center">
    <div class="col-12">
      <%= image_tag "logo.svg", alt: "alttext", width: "200" %>
      <h1>Ahoy there!</h1>
      <h3 class="mt-4">This game be coming soon...</h3>
      <div class="yohoho-box">
        <%= image_tag "yohoho-box.png", alt: "alttext", width: "400" %>
      </div>
    </div>
  </div>
  <div class="take-a-look row text-center d-flex flex-column">
    <div class="row">
      <div class="col-12">
        <p>Take a look into this exciting new game</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p><i class="fas fa-long-arrow-alt-down"></i></p>
      </div>
    </div>
  </div>
</div>


