<div class="cta-row row text-center">
  <div class="col-12  col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mt-4">
    <h5>Try the game out now! Download our</h5>
  </div>
  <div class="col-12 col-md-4 d-flex justify-content-center justify-content-lg-left pl-2 mt-4">
    <div class="cta-text d-flex align-items-center">
      <a href="#download-section">
        <h4>PRINT 'N <span class="text-white">PLAY</span> <i class="fas fa-print"></i></h4>
      </a>
    </div>
    <div class="cta-cross">
      <%= image_tag "cross.svg", alt: "alttext", width: "150" %>
    </div>
    <div class="cta-image d-flex align-items-center">
      <%= image_tag "map.svg", alt: "alttext", width: "250" %>
    </div>
  </div>
  <div class="treasure-lines">
    <%= image_tag "trail1.svg", alt: "alttext", width: "90%" %>
  </div>
</div>

