<div class="row text-center mt-4">
  <div class="col-12">
    <h3>Want to stay up to date?</h3>
    <p>Be the first to know when the physical game becomes available for purchase</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <p>Name:</p>
    <input type="text" id="fname" name="fname">
  </div>
  <div class="col-6">
    <p>Email:</p>
    <input type="text" id="fname" name="fname">
  </div>
</div>
<div class="row text-center">
  <div class="col-12">
    <button type="button" class="btn btn-primary">Sign Up!</button>
  </div>
</div>
