<div class="sign-up-section">
  <div class="row text-center mt-4">
    <div class="col-12">
      <h3>Want to stay up to date?</h3>
      <p>Be the first to know when the physical game becomes available for purchase</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="p-3">
        <p>Name:</p>
        <input class="yohoho-input" type="text" id="fname" name="fname">
      </div>
      <div class="p-3">
        <p>Email:</p>
        <input class="yohoho-input" type="text" id="fname" name="fname">
      </div>
    </div>
  </div>
  <div class="row text-center mt-4">
    <div class="col-12">
      <button type="button" class="btn yohoho-button">Sign Up!</button>
    </div>
  </div>
</div>
