<div class="testimonial-section d-flex justify-content-center">
  <div class="testimonial-title text-center mt-4">
    <div class="testimonials-container d-flex flex-column align-items-center justify-content-center">
      <h1>What’s being said about Yohoho?</h1>
      <!-- Testimonial Strip 1 -->
      <div class="testimonial-strip flex-fill">
        <div class="row">
          <div class="col-12 col-md-2 d-flex justify-content-center p-3">
            <div class="testimonial-avatar-placeholder"></div>
          </div>
          <div class="col-12 col-md-10 text-center text-md-left">
            <h4>John Roberts</h4>
            <p>By far and way the best game I’ve ever played!!</p>
            <span class="testimonial-star"> <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p> </span>
          </div>
        </div>
      </div>
      <!-- Testimonial Strip 2 -->
      <div class="testimonial-strip flex-fill">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-12 col-md-10 text-center text-md-right">
            <h4>Captain Pete</h4>
            <p>Shiver me timbers! This game be the most fun me crew and I have had over the seven seas!!</p>
            <span class="testimonial-star"> <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p> </span>
          </div>
          <div class="col-12 col-md-2 d-flex justify-content-center p-3">
            <div class="testimonial-avatar-placeholder"></div>
          </div>
        </div>
      </div>
      <!-- Testimonial Strip 3 -->
      <div class="testimonial-strip flex-fill">
        <div class="row">
          <div class="col-12 col-md-2 d-flex justify-content-center p-3">
            <div class="testimonial-avatar-placeholder"></div>
          </div>
          <div class="col-12 col-md-10 text-center text-md-left">
            <h4>Mary Read</h4>
            <p>My family loves this game! The kids can’t get enough of it. No complaints for this absolutely terrific game!!</p>
            <span class="testimonial-star"> <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="treasure-lines-3"> -->
    <%#= image_tag "trail3.svg", alt: "alttext", width: "90%" %>
  <!-- </div> -->
</div>

<!-- Give us a review strip -->
<div class="review-us-strip d-flex justify-content-center">
  <div class="review-background">
  </div>
  <div class="review-us-strip-content row">
    <div class="col-12 col-md-6 text-left d-flex flex-column justify-content-center">
      <h4>Have you tried Yohoho? We’d love to hear from you!</h4>
      <p>Help us make the game better! We welcome all feedback. Keen to let us share a testimonial as well? Just let us know in the review!</p>
      <a href="">Leave a review</a>
    </div>
    <div class="col-12 col-md-6 text-center text-md-left">
      <%= image_tag "review-cards.png", class: "review-cards-asset", width: "450" %>
    </div>
  </div>
</div>


