<div class="testimonial-section d-flex justify-content-center">
  <div class="testimonial-title text-center mt-4">
    <h1>What’s being said about Yohoho?</h1>
    <div class="testimonials-container d-flex flex-column align-items-center justify-content-center">
      <!-- Testimonial Strip 1 -->
      <div class="testimonial-strip flex-fill">
        <div class="row">
          <div class="col-2 text-right">
            <div class="testimonial-avatar-placeholder"></div>
          </div>
          <div class="col-10 text-left">
            <h4>Dubious source</h4>
            <p>By far and way the best game I’ve ever played!!</p>
            <span class="testimonial-star"> <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p> </span>
          </div>
        </div>
      </div>
      <!-- Testimonial Strip 2 -->
      <div class="testimonial-strip flex-fill">
        <div class="row">
          <div class="col-10 text-right">
            <h4>Dubious source</h4>
            <p>By far and way the best game I’ve ever played!!</p>
            <span class="testimonial-star"> <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p> </span>
          </div>
          <div class="col-2 text-left">
            <div class="testimonial-avatar-placeholder"></div>
          </div>
        </div>
      </div>
      <!-- Testimonial Strip 3 -->
      <div class="testimonial-strip flex-fill">
        <div class="row">
          <div class="col-2 text-right">
            <div class="testimonial-avatar-placeholder"></div>
          </div>
          <div class="col-10 text-left">
            <h4>Dubious source</h4>
            <p>By far and way the best game I’ve ever played!!</p>
            <span class="testimonial-star"> <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></p> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
