<div class="row text-center mt-4 mb-4">
  <div class="col-12 p-3">
    <div class="underline-container d-flex flex-column align-items-center">
      <h1>It's Dead Simple.</h1>
      <div class="video-title-underline"></div>
    </div>

    <h3>Learn the entire game in <span class="text-red">under 1 minute</span> <i class="fas fa-stopwatch"></i></h3>
    <!-- <div class="video-element"> -->
      <iframe class="video-element" src="https://www.youtube.com/embed/r9L4AseD-aA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- </div> -->
  </div>
</div>

