<div class="row">
  <div class="col-12 text-center">
    <div class="underline-container d-flex flex-column align-items-center">
      <h1>What's In Da Box?!</h1>
      <div class="indabox-title-underline"></div>
    </div>
    <% @text_image = {
        reverse: true,
        title: 'A small vessel with a large payload',
        text_size: 'h4',
        paragraph: 'Stolen Treasure be packaged in the seaworthy and pocketable hard cover box. The game has two decks made of treasure and pirate cards. This game be more portable than a barrel of monkeys and gameplay set-up takes less effort then smooth sailing on fair winds!',
        type: 'single_text_image',
        single_text_image: {
            image: 'yohoho-box',
            background_image: 'whats-in-da-box-prop',
            size_offset: '17em',
            x_offset: '0'
        },
        margin: 'mt-1'
    } %>

    <%= render partial: "landing/text_image" %>

    <div class="row mt-0 mb-4 text-center text-md-left">
      <div class="col-12 col-md-6 d-flex flex-column flex-md-row">
        <%= image_tag asset_path("treasure-cards"), class: "" %>
        <div class="p-3">
          <h5>The Treasure Cards</h5>
          <p>Every pirate’s favourite, the booty! There are 50 cards and 15 different types of treasure for the taking. But beware sailors! There may be some unwanted hauls…</p>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column flex-md-row">
        <%= image_tag asset_path("piracy-cards"), class: "" %>
        <div class="p-3">
          <h5>The Pirate Cards</h5>
          <p>What conniving and devious tricks can a pirate pull from out of their sleeves? Look no further than the bountiful 40 cards of piratical mischief!</p>
        </div>
      </div>
    </div>
  </div>
</div>

