.download-counter-form {
  width: 100%;
}

.download-container {
  position: relative;
  // width: 900px;
  height: 600px;
}

.download-background {
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.download-button {
  font-family: Cabin;
  font-weight: 700;
  // width: 60%;
  background: white;
  color: #363636;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  // &:hover {
  // on hover state here
  // }
}

.button-icon {
  font-size: 36px;
  margin-right: 15px;
}

.download-underline-container {
  margin: 0px;
}

.download-title-underline {
  width: 105%;
  height: 20px;
  background-color: #f5b687;
  transform: rotate(1deg);
  clip-path: polygon(0 2%, 100% 0, 99% 100%, 2% 98%);
  position: relative;
  top: -27px;
  // right: 30px;
  z-index: -1;
}

.download-modal {
  border-radius: 8px;
}
