.hero-section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: Cabin;
    color: #606060;
    font-size: 20px;
    font-weight: 700;
  }
}

.hero-section-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.yohoho-box {
  margin-top: 50px;
}

.take-a-look {
  margin-top: 60px;
}

.box-image {
  max-width: 400px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .box-image {
    width: 300px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .box-image {
    width: 400px;
  }
}
