.hero-section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: Cabin;
    color: #606060;
    font-size: 20px;
    font-weight: 700;
  }
}

.hero-section-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.yohoho-box {
  margin-top: 50px;
}

.take-a-look {
  margin-top: 60px;
}

.box-image {
  max-width: 400px;
}

.underline-container {
  margin: 0px;
}

.title-underline {
  width: 80%;
  height: 25px;
  background-color: #F5B687;
  transform: rotate(1deg);
  clip-path: polygon(0 2%, 100% 0, 99% 100%, 2% 98%);
  position: relative;
  top: -40px;
  // right: 30px;
  z-index: -1;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .box-image {
    width: 300px;
  }

  .title-underline {
    width: 65%;
    height: 15px;
    top: -25px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .box-image {
    width: 400px;
  }
}
