.hero-section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: Cabin;
    color: #606060;
    font-size: 20px;
    font-weight: 700;
  }
}

.hero-section-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.yohoho-box {
  margin-top: 50px;
}

.take-a-look {
  margin-top: 60px;
  // transition: 0.3s;
  // position: relative;
  // -webkit-transition: all 0.5s ease-in-out;
  // -moz-transition: all 0.5s ease-in-out;
  // -o-transition: all 0.5s ease-in-out;
  // transition: all 0.5s ease-in-out;
  // position: relative;
  a {
    &:hover {
      text-decoration: none;
      // .down-arrow {
      //   position: relative;
      //   left: 20px;
      //   padding-left: -20px;
      // }
    }
  }
}

.arrow-container {
    // height: 30px;
    // width: 200px;
    // border:1px solid #999;
    // background-color:#222;
    // color:#ccc;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;

}

.take-a-look:hover .arrow-container{
  opacity: 0.5;
  position: relative;
  top: 5px;
  padding-top: -5px;
}

.box-image {
  max-width: 400px;
}

.underline-container {
  margin: 0px;
}

.title-underline {
  width: 80%;
  height: 25px;
  background-color: #F5B687;
  transform: rotate(1deg);
  clip-path: polygon(0 2%, 100% 0, 99% 100%, 2% 98%);
  position: relative;
  top: -40px;
  // right: 30px;
  z-index: -1;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .box-image {
    width: 300px;
  }

  .title-underline {
    width: 65%;
    height: 15px;
    top: -25px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .box-image {
    width: 400px;
  }
}
