.cta-row {
  position: relative;
}

.cta-text {
  // height: 100px;
  // background-color: blue;
  position: absolute;
  // color: white;
  top: 35%;

  a {
    color: #606060;
    transition: 0.3s;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

.cta-cross {
  // height: 100px;
  // background-color: blue;
  position: absolute;
  z-index: -1;
  // top: 25%;
  left: 40%;
}

.cta-image {
  position: relative;
  // height: 100px;
  // background-color: red;
  z-index: -2;
  top: 0px;
}

.treasure-lines {
  position: absolute;
  overflow: visible;
  bottom: 90px;
  z-index: -100;
}

.treasure-lines-2 {
  width: 1000px;
  position: relative;
  z-index: -2;
  img {
    top: -150px;
    position: absolute;
    left: calc(((100%-1100px)/2)*-1);
  }
}

.treasure-lines-3 {
  width: 1000px;
  position: relative;
  // z-index: -2;
  img {
    bottom: 150px;
    position: absolute;
    right: calc(((100%-1100px)/2)*-1);
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .treasure-lines, .treasure-lines-2 {
    display: none;
  }

}
