

.reverse {
  flex-direction: row-reverse;
}

.text-image-container {
  display: flex;
  // width: 50%;
  align-items: center;
  justify-content: space-around;
  @media only screen and (max-width: 768px) {
    width: 100vw;
  }
}

.image-container {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 768px) {
    margin: 100px 0;
  }
}

#card-front-group {
  background-color: $light-gray;
  transform: rotateZ(5deg);
}

.card-image {
    width: 10em;
    height: auto;
    position: relative;
}

#first-card {
    transform: translateX(64px) rotateZ(-20deg);
    z-index: 1;
}
#second-card {
    transform: rotate(2deg) translateY(-47px);
}
#third-card {
    transform: rotate(20deg) translateX(-47px);
    z-index: -1;
}
#pirate-card {
    transform: rotate(-20deg) translateX(-14px);
}
#treasure-card {
    transform: rotate(14deg) translateX(-54px) translateY(-56px);
    z-index: -1;
}
