// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/screenSize";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Webflow stylings
// @import "webflow/cashew-wall-friendlygames-com.webflow";
// @import "webflow/normalize";
// @import "webflow/webflow"

body {
  background-color: white;
}

h1, h3, h4, h5, {
  font-family: Berlin-Sans-FB-Demi;
}

p, label {
  font-family: Cabin;
  color: #606060;
  font-size: 20px;
  font-weight: 700;
}

.yohoho-container {
  max-width: 1100px;
  overflow: hidden;
}

.spacer-large {
  padding-top: 200px;
  // padding-bottom: 250px;
}

.spacer-small {
  padding-top: 250px;
  padding-bottom: 100px;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: $sm) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md) {
  h1 {
    font-size: 44px;
  }
    h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $lg) {
  h1 {
    font-size: 72px;
  }
    h3 {
    font-size: 42px;
  }
  h5, h4 {
    font-size: 36px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $xl) {
  h1 {
    font-size: 72px;
  }
  h3 {
    font-size: 42px;
  }
  h5, h4 {
    font-size: 36px;
  }

}
