// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Webflow stylings
// @import "webflow/cashew-wall-friendlygames-com.webflow";
// @import "webflow/normalize";
// @import "webflow/webflow"

body {
  background-color: white;
}

h1 {
  font-family: Berlin-Sans-FB-Demi;
}

h3 {
  font-family: Berlin-Sans-FB-Demi;
}

  p {
    font-family: Cabin;
    color: #606060;
    font-size: 20px;
    font-weight: 700;
  }

  .yohoho-container {
    max-width: 1000px;
    overflow: hidden;
  }


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
    h3 {
    font-size: 24px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    font-size: 72px;
  }
    h3 {
    font-size: 42px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    font-size: 72px;
  }
  h3 {
    font-size: 42px;
  }

}
