<h1>Reviews</h1>
<ul>
  <% @reviews.each do |review| %>
    <div class="card">
      <div class="card-body">
          <li><%= review.rating %></li>
          <li><%= review.content %></li>
          <li><%= review.email %></li>
          <li><%= review.mailist %></li>
      </div>
    </div>
  <% end %>
</ul>
